@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Roboto-Regular;
  src: url("/font/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("/font/Roboto-Bold.ttf");
}


:root {
  --DarkSlateGrey: hsl(234, 29%, 20%);
  --Charcoal0Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --Tomato: hsl(4, 100%, 67%);
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    
  }
}
*/

body {
  font-family: Roboto-Regular;
  background-color: var(--Charcoal0Grey);
}

h1 {
  font-family: Roboto-Bold;
}

#success {
  display: none;
}